<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>

<div class="container-fluid text-center">
  <div class="row full-height game-row">

<!-- game -->
<div class="col-8">
  <header>
    <!-- <button class="btn btn-secondary old-buttons btn-sm" id="openOld">Last Round</button> -->
          <h1><%= page %></h1>
    <!-- <button class="btn btn-secondary btn-sm" id="dark-mode">Dark Mode</button> -->
    <!-- <button class="btn btn-success ajax" name="action" value="next">Next</button> -->
    <button class="btn btn-success" id="openNew">New Game</button>
  </header>
    <div class="row">

      <!-- cards -->
    <div class="col-12">
      <div class="row justify-content-center" id="card-row">

      </div>
    </div>

    <!-- controls -->
    <div class="col-12" id="game-controls">

    </div>

    <!-- players -->
    <div class="col-12" id="players">

    </div>

  </div>

</div>

<!-- grid -->
  <div class="col-4 personal-grid">
    <div id="personal-grid__grid">
    </div>

    <div>
      Empty Spaces: <span id="grid-score">0</span>
    </div>
    <!-- <button class="btn btn-success" id="clearScore">Clear Grid</button> -->
  </div>

  <div class="col-12 d-none">
    <p style="margin-top:30px;"><a href="/images/downloads/player-aid.png" target="_blank">Download Player Aid</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/images/downloads/score-sheet.png" target="_blank">Download Score Sheet</a></p>

  </div>

  </div>
</div>

<!-- <section id="oldCards" class="wt-popover">
  <button class="btn btn-secondary old-buttons btn-sm" id="closeOld">Close</button>
  <div class="container">
    <div class="row align-items-center justify-content-center full-height">
      <div class="col-12 text-center">
        <h2>Cards from Last Round</h2>
        <div class="row" id="top-old">

        </div>

        <div class="row" id="bottom-old">

        </div>

      </div>
    </div>
  </div>
</section> -->

<section id="newGame" class="wt-popover">
  <div class="container">
    <div class="row align-items-center justify-content-center full-height">

      <div class="col-12 text-center" id="newGame--p1">
        <h2>Start a new game?</h2>

        <button class="btn btn-success" id="part2Nav">Yes new game plz</button>
        <button class="btn btn-danger" id="closeNew">No i have made a grievous error</button>

      </div>

      <div class="col-md-8 text-center" id="newGame--p2">
        <h2>Who's Playing?</h2>

        <form id="newGame--form" value="newGame">
            <input type="text" class="player-input" placeholder="Enter Name">
            <input type="text" class="player-input" placeholder="Enter Name">
            <input type="text" class="player-input" placeholder="Enter Name">
            <input type="text" class="player-input" placeholder="Enter Name">
            <input type="text" class="player-input" placeholder="Enter Name">
            <input type="text" class="player-input" placeholder="Enter Name">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </div>
  </div>
</section>

</body>
<% include partials/script %>
</html>
